<!-- TODO: Add to each list -->
<div id="reltable-container" class="col">
    <div id="reldescr">
        <h3>Diagram Fields</h3>
        <p>Hover over a field name to highlight it in the diagram.</p>
    </div>
    <ul id="relationList">
    </ul>


</div>