<!-- TODO: This should be much more meaningful, errors should be toggleable, etc etc. -->
 <!-- For example, you should be able to explore errors in terms of the SOURCE LANG, THE INTERMEDIATE REPRESENTATION,
  and eventually counter-factuals? -->

<div class="container m4" id="error_container">
    <div id="error_messages">
        <!-- <h4 style="color: darkred">Could not produce a diagram</h4>
        <%- errors %> -->
        <!-- React component mounted here -->
    </div>
</div>

<script>

  // TODO: Pass error messages to component

  /**
   * TODO:
   * - Pass the error messages into the ErrorMessageModal to render
   * - Render the modal component under the right circumstances
   */

    document.addEventListener('DOMContentLoaded', () => {
      if (window.mountErrorMessageModal) {
        window.mountErrorMessageModal('error_messages');
      }
    })
</script>