<!-- TODO: Add to each list -->
<div id="reltable-container">
    <div class="row">

        <div class="card" id="relationcard" style="display: none;">
            <div class="card-body">
                <h4 class="card-title">Explore</h4>
                <div id="reldescr">
                    <p class="text-muted">Hover over a field name <br> to highlight it in the diagram.</p>
                </div>
                <ul class="list-group list-group-flush" id="relationList">

                </ul>
            </div>

            <!-- AND THIS IS WHERE AN EVALUATOR REPL WOULD GO? -->
        </div>
    </div>
    <script>
        // Function to check the length of relationList and show/hide relationcard
        function updateRelationCardVisibility() {
            var relationList = document.getElementById('relationList');
            var relationCard = document.getElementById('relationcard');


            if (relationList.children.length > 0) {
                
                relationCard.style.display = 'block';
            } else {
                relationCard.style.display = 'none';
            }
        }

        // Initial check
        updateRelationCardVisibility();

        // MutationObserver to watch for changes in relationList
        var observer = new MutationObserver(updateRelationCardVisibility);
        observer.observe(document.getElementById('relationList'), { childList: true });
    </script>
    <div class="row">
        <%- include('evaluator') %>
    </div>
</div>