<!-- TODO: Improve UI HERE -->
<div id="reltable-container">

    <div class="row">
        <div class="container" id="relationcard" style="display: none;">

                <h4 class="card-title" title="Hover over a field name <br> to highlight it in the diagram.">Relations</h4>
                <ul class="list-group" id="relationList">
                </ul>


        </div>
    </div>
    <script>
        // Function to check the length of relationList and show/hide relationcard
        function updateRelationCardVisibility() {
            var relationList = document.getElementById('relationList');
            var relationCard = document.getElementById('relationcard');


            if (relationList.children.length > 0) {
                
                relationCard.style.display = 'block';
            } else {
                relationCard.style.display = 'none';
            }
        }

        // Initial check
        updateRelationCardVisibility();

        // MutationObserver to watch for changes in relationList
        var observer = new MutationObserver(updateRelationCardVisibility);
        observer.observe(document.getElementById('relationList'), { childList: true });
    </script>
    <div class="row">
        <%- include('evaluator') %>
    </div>
</div>