<div class="container-fluid" id="structuredEditor">
    <br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>

    <style>
        .constraint {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px 0;
        }
    </style>

    <div class="container-fluid">
        <h5>Constraints  <button type="button" onclick="addConstraint()" title="Click to add a new constraint">+</button></h5>
        <!-- <br> -->
       
        <div id="constraintContainer"></div>
    </div>
    <hr>
    <div class="container-fluid">
        <h5>Directives  <button type="button" onclick="addDirective()" title="Click to add a new directive">+</button></h5>
        <div id="directiveContainer"></div>
    </div>



</div>