<div id="yamlEditor" class="container-fluid">

    <style>
        /* .CodeMirror {
            height: auto;
            width: calc(30ch + 2px);
            overflow: auto;
        } */

        .CodeMirror {
            height: auto;

            overflow: auto;
            resize: horizontal; /* Allow horizontal resizing */
            min-width: 30ch; /* Set a minimum width */
            max-width: 100%; /* Set a maximum width */
        }

        .CodeMirror.is-valid {
            border: 1px solid #28a745;
        }

        .CodeMirror.is-invalid {
            border: 2px solid #dc3545;
        }

        .cope {
            height: auto;
            width: 100%;
            overflow: auto;
        }

    </style>

<textarea class="form-control" id="cope" rows="10" name="cope"><%= cope ? cope : '' %></textarea>


</div>

<!-- Text Area Block -->
<div class="container">
            <!-- <label for="layoutannotation" class="lead"><h2>Layout</h2></label> -->
            <button id="prettify" class="btn btn-outline-dark btn-sm">Check Syntax</button>
            <br>
</div>

<script src="https://cdn.jsdelivr.net/npm/js-yaml@4.1.0/dist/js-yaml.min.js"></script>
<!-- Include CodeMirror CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
<!-- Include CodeMirror JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
<!-- Include CodeMirror YAML mode -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/yaml/yaml.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var copeTextarea = document.getElementById('cope');
        window.editor = CodeMirror.fromTextArea(copeTextarea, {
            mode: 'yaml',
            lineNumbers: true,
            theme: 'default',
            lineWrapping: false, // Disable line wrapping
        });

        


        // Event listener for the Prettify button
        document.getElementById('prettify').addEventListener('click', function (event) {

            event.preventDefault();
            try {
                var yamlContent = window.editor.getValue();
                var parsedYaml = jsyaml.load(yamlContent);
                var formattedYaml = jsyaml.dump(parsedYaml);
                window.editor.setValue(formattedYaml);
                window.editor.getWrapperElement().classList.remove('is-invalid');
                window.editor.getWrapperElement().classList.add('is-valid');
            } catch (e) {
                window.editor.getWrapperElement().classList.remove('is-valid');
                window.editor.getWrapperElement().classList.add('is-invalid');
                alert('Invalid YAML format: ' + e.message);
            }
        });



        window.editor.on('blur', function () {
            try {
                var yamlContent = window.editor.getValue();
                var parsedYaml = jsyaml.load(yamlContent);
                window.editor.getWrapperElement().classList.remove('is-invalid');
                window.editor.getWrapperElement().classList.add('is-valid');
            } catch (e) {
                window.editor.getWrapperElement().classList.remove('is-valid');
                window.editor.getWrapperElement().classList.add('is-invalid');
            }
        });
    });
</script>